<?xml version="1.0" encoding="utf-8"?>
<!--   ~ Copyright (C) 2017 Baidu, Inc. All Rights Reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.ocr.sdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
    </application>

</manifest>